<div class="w-full text-center p-6 bg-blue-600 text-white">
    <span>
        <a href="http://bruggg.com" class="text-white">A
            <span class="underline font-bold" title="Bruggg">Bruggg</span>
            Project
        </a><br><br>
        <span class="text-white">
            <a href="http://bruggg.com/case-study/better-mac-store" class="text-white underline">
                Manifest</a> •
            <a href="https://github.com/bruggg/bettermacstore" class="text-white underline">
                GitHub</a> •
            <a href="http://bruggg.com/case-study/better-mac-store#technologies" class="text-white underline">
                Tools Used</a> •
            <a class="text-white">
                Built for Developers by Developers</a>
        </span><br><br>
        <span class="text-white">Because the real one absolutely <span class="underline" title="underline">sucks</span>.
        </span>
    </span>
</div>