<h3>login</h3>
<form method="POST" action="/login">
    <input name="email" placeholder="me@email.com"><br>
    <input name="password" placeholder="your password"><br>
    <input name="authentication" value="later on, i will implment a form authentication thingy" hidden="">
    <button type="submit">login</button>
</form>