<h3>signup</h3>
<form method="POST" action="/signup">
    <input name="email" placeholder="me@email.com"><br>
    <input name="password" placeholder="set password"><br>
    <input name="password2" placeholder="confirm password"><br>
    <input name="authentication" value="later on, i will implment a form authentication thingy" hidden="">
    <button type="submit">signup</button>
</form>